# ========================================
# Python - Backend
# ========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# ========================================
# Node - Frontend
# ========================================
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/


# ========================================
# Project Specific
# ========================================
# Output / Audio / Logs
backend/Agent/Output/
backend/chat_histories/
backend/uploads/
*.wav
*.log

# Ignore secrets and environment configs
*.env
*.json

# ========================================
# Visual Studio Code
# ========================================
.vscode/
.history/
*.code-workspace

# ========================================
# OS Specific
# ========================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# ========================================
# Others
# ========================================
*.swp
*.swo
*.tmp
*.bak